.env/
.rrviewenv/
.calenv/
.vscode/
data*/
models/
params/
secrets/
extras/
global_data/
*.zip
*.ipynb_checkpoints/
results/
*.pyc
*.nc
george-calibration/calib_results*/
regulation-experiments/regulation-results-stats/*.csv
regulation-experiments/charts/
george-calibration/cumberland-upstream-subbasins/
george-calibration/calib_history/*
*rat-indus/